<html>
    <head>
        <title>ex31.ejs</title>
    </head>

    <body>
        <!-- index.js 파일의 app.get("/receive"~~)로 들어간다. -->
        <form action="/receive" method="POST">
            폼 전송 - 실습 <br><br>
            <fieldset>
                <legend>**이름, 성별은 필수 기재 입니다**</legend>
                이름 <input type="text" name="name" placeholder="" required> <br>

                성별 <input type="radio" name="gender" value="남자" required>남자
                <input type="radio" name="gender" value="여자" required>여자 <br>
            </fieldset> <br>

            <fieldset>
                <legend>생년월일</legend>
                <select name="year">
                    <% for (var i=1950; i<=2022; i++) { %>
                        <option value="<%=i %>"><%=i %></option>
                    <% } %>
                </select> 년
                <select name="month">
                    <% for (var j=1; j<=12; j++ ) { %>
                        <option value="<%=j %>"><%=j %></option>
                    <% } %>
                </select> 월
                <select name="day">
                    <% for (var k=1; k<=31; k++ ) { %>
                        <option value="<%=k %>"><%=k %></option>
                    <% } %>
                </select> 일 <br>
            </fieldset> <br>

            <fieldset>
                <legend>관심사</legend>
                <input type="checkbox" name="likes" value="여행">여행
                <input type="checkbox" name="likes" value="패션">패션
                <input type="checkbox" name="likes" value="음식">음식 <br>
            </fieldset> <br>

            <fieldset>
                <legend>프로필 사진</legend>
                <input type="text" value="이미지를 업로드 하세요" placeholder="이미지를 업로드 하세요" disabled>
                <input type="file" name="image" value=""> <br>
            </fieldset> <br>

            비밀번호: <input type="password" name="password"> <br><br>

            <input type="reset" value="RESET">

            <button>회원가입</button>
            
        </form>
    </body>
</html>