<html>
    <head>
        <title>receive.ejs</title>
    </head>

    <body>
        이름: <%=name%> <br>
        성별: <%=gender%> <br>
        생년월일: <%=year%>년 <%=month%>월 <%=day%>일 <br>
        관심사: <%=likes%> <br>
        프로필 이미지: <img style="width: 50; height: 50;" src="/<%=image%>"> <br><br>
        비밀번호: <%=password%> <br>
    </body>
</html>